<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean name="cmp" class="org.amit.Computer" autowire="byName">
             <property name="psr" ref="inte"/>
             <constructor-arg ref="rm1"/>

       </bean>



    <bean name="rm1" class="org.amit.ram.DDR3"/>
    <bean name="ddr" class="org.amit.ram.DDR4"/>

    <bean name="str" class="org.amit.storage.SSD"/>
    <bean name="str1" class="org.amit.storage.SSD" />

    <bean name="inte" class="org.amit.processor.Intel"/>
    <bean name="amd" class="org.amit.processor.Amd"/>

</beans>