<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean name="cmp" class="org.amit.Computer" autowire="byName" lazy-init="true" scope="prototype" init-method="init" destroy-method="shutdown">
             <property name="psr" ref="inte"/>
             <constructor-arg ref="rm1"/>
            <property name="str">
                <bean class="org.amit.storage.SSD"/>
            </property>
            <property name="brand" value="Lenovo"/>
            <property name="ports">
                <list>
                    <value>RJ45</value>
                    <value>VGA</value>
                    <value>VIDEO</value>
                    <value>PS2</value>
                </list>
            </property>

       </bean>



    <bean name="rm1" class="org.amit.ram.DDR3"/>
    <bean name="ddr" class="org.amit.ram.DDR4"/>

    <bean name="str1" class="org.amit.storage.SSD" />

    <bean name="inte" class="org.amit.processor.Intel"/>
    <bean name="amd" class="org.amit.processor.Amd"/>

</beans>