<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="cmp" class="org.amit.Computer">
        <constructor-arg index="0" ref="ddr3"/>
        <constructor-arg index="1" ref="ssd"/>
        <property name="psr" ref="inte"/>
    </bean>

    <bean name="ddr3" class="org.amit.ram.DDR3"/>

    <bean name="ssd" class="org.amit.storage.SSD"/>

    <bean name="inte" class="org.amit.processor.Intel"/>

</beans>